<h1>フリーワード検索</h1>
<%= search_form_for @q, url: search_users_path do |f| %>
  <%= f.search_field :name_cont , placeholder: "フリーワードで検索" %>
  <%= f.submit '検索' %>
<% end %>

<h1>エリア検索</h1>
<%= search_form_for @q, url: search_users_path do |f| %>
  <%= f.search_field :name_cont , placeholder: "エリアで検索" %>
  <%= f.submit '検索' %>
<% end %>

<h1>ユーザー登録&ログイン</h1>
<%= link_to "ログイン画面へ", "users/sign_in" %>
<%= link_to "ユーザー登録画面へ", "users/sign_up" %>

<h1>賃貸ルーム登録</h1>
<%= link_to "賃貸ルーム登録画面へ", :new_post %>

<h3>ルーム登録履歴</h3>
 
    <table>
      <thead>
        <tr>
          <th>ルーム名</th>
          <th>ルーム紹介</th>
          <th>料金</th>
          <th>住所</th>
        </tr>
      </thead>
 
      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td><%= post.roomname %></td>
            <td><%= post.introduction %></td>
            <td><%= post.price %></td>
            <td><%= post.address %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
 

<h1>予約履歴</h1>
<%= link_to "予約履歴画面へ",  "projects" %>