<h1>フリーワード&エリア検索</h1>
<%= search_form_for @q, url: search_projects_path do |f| %>
  <%= f.label :word_cont, 'フリーワード＆エリア' %>
  <%= f.search_field :word_cont %>
  <%= f.submit '検索' %>
<% end %>
<br>
<h2>ユーザー登録＆ログイン</h2>
<!--<%= link_to "ユーザー登録＆ログイン画面へ", :new_user_registration %>-->
